__pycache__/
*.py[cod]
*.so

.ipynb_checkpoints/
.vscode/

data/cache/
data/raw/

results/
results_copy/
runs/
tmp/
tmp2/

**/tensorboard/
**/model/
**/pseudo_labels/
**/plots/

*.pth
*.pt
*.ckpt
*.onnx

*.npy
*.npz
*.pkl

*.log
*.out
nohup.out
*.tmp
*.bak
*.orig

eer_acc_comparison.png
